body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 250px;
    background: white;
    padding: 20px;
    height: 100vh;
    padding: 30px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.profile i {
    width: 40px;
}

.profileDetail{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileDetail p{
    margin: 1px;
}
.profileDetail h3{
    margin: 1px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar .add-project {
    background: #007bff;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.main-content {
    flex: 1;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    flex: 1;
    padding: 50px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}


.purple { background: #a855f7; }
.blue { background: #2563eb; }
.orange { background: #f97316; }

.chart-section {
    margin-top: 20px;
    height: 50vh;
    width: 100%;
}

.table-section {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.table-section h2{
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
}

.pending { background: #facc15; }
.approved { background: #22c55e; }

.logo{
    color: aqua;
    font-weight: 900;
    text-align: center;
    font-size: 26px;
    margin: 0px;
    margin-bottom: 20px;
}

.headerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    align-items: center;
}

.headerSection input{
    height: 30px;
    width: 30%;
    border-radius: 5px;
    border-width: 0px;
    margin-left: 40px;
    border-width: 1px;
    border-color: rgb(247, 247, 247);
}
.listItems li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listItems li p{
    margin: 0px;
}

.active{
    color: aqua;
    font-weight: bold;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.user-info p{
    margin-right: 40px;
    margin-left: 5px;
}

.dashboard-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}